{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<h3>Nova Categoria</h3>
<br>
<div class="card">
    <div class="card-body">
        <form action="/admin/categories/new" method="POST">

            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" placeholder="Nome da Categoria" class="form-control">

            <label for="slug">Slug:</label>
            <input type="text" name="slug" id="slug" placeholder="Slug da Categoria" class="form-control">

            <br>

            <button type="submit" class="btn btn-success">Criar Categoria</button>

        </form>
    </div>
</div>