<h4>Login:</h4>
<div class="card">
    <div class="card-body">
        <form action="/user/login" method="POST">
            <label for="email">E-mail: </label>
            <input type="email" class="form-control" name="email" required>

            <label for="password">Senha: </label>
            <input type="password" class="form-control" name="password" required><br>

            <button class="btn btn-success" type="submit">Entrar</button>
        </form>
    </div>
</div>