<%- include top.ejs %>

  <div class="col-sm-6">
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text" class="form-control" placeholder="Digite seu username" /><br />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" class="form-control" placeholder="Digite seu password" /><br />
      </div>
      <input type="submit" value="Login" class="btn btn-primary" />
    </form>
    <hr />
    <% if(message) { %>
      <p>
          <% if(error) { %>
            <div class="alert alert-danger">
          <%} else {%>
            <div class="alert alert-success">
          <%}%>
            <%= message %>
          </div>
      </p>
    <%}%>
    <p>
      <a href="/users/forgot">Esqueceu sua senha?</a> | <a href="/users/signup">Não possui cadastro?</a>
    </p>
  </div>

<%- include bottom.ejs %>