<div class="card">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <hr>
        <small>Data de publicação: {{post.date}}</small><br>
        <hr>
        {{post.content}}
    </div>
</div>